p{
    font-family: Arial;
}
.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: lightgray;

}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;

}

/* Left and right column */
.column.side {
    width: 40%;
}

/* Middle column */
.column.middle {
    width: 40%;
}

/* Clear floats after the columns */
.center:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}


.row {
    max-width: 114rem;
    margin: 0 auto; }
.row:not(:last-child) {
    margin-bottom: 8rem; }
.row::after {
    content: "";
    display: table;
    clear: both; }
.row [class^="col-"] {
    float: left; }
.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
    background-color: lightgray;
    opacity: 0.5;}
.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
   }

.row .col-2-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
    }
.row .col-3-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
   }

.row .col-4-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
    background-color: lightgray;
    opacity: 0.5;}

.heading-secondery {
    display: inline-block;
    text-align: center;
    }

.tt{

    width: 60%;
    padding-top: 40px;
}
.image{
    width: 50vh;
    height: 50vh;
}
.h3-position{
    text-align: left;

}
footer{
    background-color: black;
    color: white;
}
footer.icons{
    text-align: right;
}
