/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 25, 2019, 2:17:24 PM
    Author     : meron
*/
body{background-image: url("images/silverware.jpg")}
p {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond;
}
.headers
{
    color: #A4A400;
    letter-spacing: 5pt;
    width: fit-content;
    font-size: 22pt;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: Lucida Sans Unicode, Helvetica, Arial;
}
a{color:#A4A400 }
#top {
    text-align: center;
    margin: 0 auto;
}
ul li {
    list-style-image: url("images/pie_icon.gif");
}

blockquote {
    background-color: #f5f575;
    padding: 12px;
}
.footer {
    text-align: right;
}
.wording > p
{
    margin: 1px;
}
span.str {
    text-decoration: line-through;
}